.vs/
.vscode/
.idea/

Debug/
Release/
Win32/
x64/
OJfix/Debug/
OJfix/Release/
OJfix/Win32/
OJfix/x64/
dist/

*.user
*.suo
*.VC.db
*.VC.opendb
*.ipch
*.aps
*.obj
*.pdb
*.ilk
*.iobj
*.ipdb
*.log
*.tlog
*.lastbuildstate
*.recipe
*.res

ojfix.ini
OJfix.ini
